<h3>
	
	Adicionar Processo
	<small>Criar um novo processo dentro do sistema</small>
	
</h3>
<div class="panel panel-default ng-scope">
   <div class="panel-heading">Informações sobre o processo</div>
   <div class="panel-body">
      <form method="get" action="/" class="form-horizontal ng-pristine ng-valid">
	  <div class="form-group">
               <label class="col-sm-2 control-label">Tipo de Fluxo</label>
               <div class="col-sm-10">
                  <select name="account" class="form-control">
                     <option value="Option 1">Solicitação de Férias</option>
                     <option value="Option 2">Enpenho de Nota</option>
                     <option value="Option 3">Exoneração</option>
                     <option value="Option 4">Nomeação</option>
                  </select>
                  
               </div>
            </div>
	  </form>
	</div>
	</div>
         